
.Container{
    width:100vw;
    height:100vh;
    background-color: black;
    color:white;
}

.landing-title{
    margin-left:30%;
    font-size: 60px;
}

.App{
    padding-left:30px;
    background-color: black;
    color:white;
    padding-top:30px;
    margin-top:-4%;
}

.input{
    width: 90%;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px;
}

.landing-btn{
    width: 15%;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px;
    background-color: white;
    color: black !important;;
    margin-top:20px;
    position:relative;
   
}